 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 .touchscroll-wapper {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .touchscroll-wapper>.touchscroll-container {
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
 }

 .touchscroll-wapper>.touchscroll-container>.touchscroll-card-carousel {
     position: relative;
     transition: filter .3s ease;
 }

 @media screen and (max-width: 640px) {
     .touchscroll-card-carousel {
         margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
     }
 }

 .touchscroll-wapper>.touchscroll-container>.touchscroll-card-carousel.smooth-return {
     transition: all .2s ease;
 }

 .touchscroll-wapper>.touchscroll-container>.touchscroll-card-carousel>.card {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: absolute;
 }

 .touchscroll-wapper>.touchscroll-container>.touchscroll-card-carousel>.card>.image-container {
     position: relative;
     background-size: cover;
 }

 .touchscroll-wapper>.touchscroll-container>.touchscroll-card-carousel>.card>.image-container::after {
     content: "";
     display: block;
     position: absolute;
 }

 /* ============================= sample css =========================== */

 .touchscroll-wapper.sample {
     width: 100%;
     height: 100%;
 }

 .touchscroll-wapper.sample>.touchscroll-container {
     padding: 20px;
     margin-top: 2em;
     background: rgba(0, 0, 0, .1);
     font-family: system-ui;
     background: #3d76d9;
     width: 100%;
     height: 100%;
     min-height: 100vh;
 }

 .touchscroll-wapper.sample>.touchscroll-container>.touchscroll-card-carousel {
     --card-width: 80%;
     --card-max-width: 280px;
     --card-height: 350px;
     --carousel-min-width: 600px;
     z-index: 1;
     margin: 0 auto;
     width: 100%;
     height: var(--card-height);
     min-width: var(--carousel-min-width);
 }

 .touchscroll-wapper.sample>.touchscroll-container>.touchscroll-card-carousel>.card {
     filter: brightness(.9);
     background: whitesmoke;
     width: var(--card-width);
     max-width: var(--card-max-width);
     padding: 1em;
     min-width: 250px;
     height: var(--card-height);
     margin: 0 auto;
     color: rgba(0, 0, 0, .5);
     transition: inherit;
     -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
     border-radius: 1em;
 }


 .touchscroll-wapper.sample>.touchscroll-container>.touchscroll-card-carousel>.card.highlight {
     filter: brightness(1);
 }

 .touchscroll-wapper.sample>.touchscroll-container>.touchscroll-card-carousel>.card>.image-container {
     width: 8em;
     height: 8em;
     margin-bottom: 2em;
     border-radius: 100%;
     padding: 1em;
     -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
     box-shadow: inset 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
 }

 .touchscroll-wapper.sample>.touchscroll-container>.touchscroll-card-carousel>.card>.image-container::after {
     width: 120%;
     height: 120%;
     border: solid 3px rgba(0, 0, 0, .1);
     border-radius: 100%;
     top: calc(-10% - 3px);
     left: calc(-10% - 3px);
 }